@import 'styles/variables';

.toolbar {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  justify-items: center;
  padding: 1.5rem 2.2rem;
  align-items: center;

  @media only screen and (max-width: $bp-mobile) {
    display: flex;
    justify-content: space-between;
  }

  &__tasks-left-count {
    color: var(--color-button);
    font-size: 1.4rem;
  }

  &__clear-completed-btn {
    color: var(--color-button);
    font-size: 1.4rem;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: var(--color-button-hover);
    }
  }
}
