.input {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.8rem;
  width: 100%;
  color: var(--color-todo-text);

  &:placeholder {
    vertical-align: middle;
  }
}
