.todo {
  width: 100%;
  padding: 2rem 2.2rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  column-gap: 2rem;
  background-color: #fff;
  border-bottom: 1px solid #d6d5da;

  &__content {
    color: #46465e;
    width: 100%;
    transition: color 0.5s ease;
  }

  &__remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease;

    &.hidden {
      opacity: 0;
    }
  }

  &.completed &__content {
    text-decoration: line-through;
    color: #d6d5da;
  }

  &__checkbox {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    appearance: none;

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 10rem;
      background-image: linear-gradient(to right, #fff, #fff);
      border: 1px solid hsl(236, 33%, 92%);
      top: 0;
      left: 0;
      align-self: center;
      transition: all 0.2s ease;
      cursor: pointer;
    }

    &:checked::before {
      background-image: url('../../assets/images/icon-check.svg'),
        linear-gradient(
          to bottom right,
          hsl(192, 100%, 67%),
          hsl(280, 87%, 65%)
        );
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
